apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  # Aquí usamos 'data' porque el valor en values.yaml ya está en base64
  SECRET_KEY: {{ .Values.secret.key | quote }}